body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgba(223 230 231);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.impressum-section {
    margin-bottom: 20px;
}



.impressum-section p {
    margin: 0;
    color: #666;
    line-height: 1.6;
}

.impressum-section a {
    color: #0066cc;
    text-decoration: none;
}

.impressum-section a:hover {
    text-decoration: underline;
}
